body{
    background-color: rgba(127, 255, 212, 0.548);
    text-align: center;
}

 img{
    position: relative; top: 30px;
    
}

h3{
    
    color: black;
    text-indent: 30px;
    
    
}

h5{
    text-indent: 5%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-size-adjust: 20px;
    
}
header{
    background-color: aliceblue;
    color: blue;
    
}
nav{
    padding-right: 20px;
    text-align: right;
}

form{
    
    border-radius: 20px;
    background-color: white
    
    
    
}
/* 
table{
    position: relative:
    right: 30px;
    color: blue;
    background-color: blue;
} */
 
 table{
    text-indent: 10%;
    margin-left: auto;
    margin-right: 
    
}

section{
    background-color: blue;

}
