body{
    background-color: rgba(127, 255, 212, 0.548);
    text-align: 
} 

h3{
    background-color: white;
    color: blue;
    
}

form{
    column-gap: 10px;
    color: brown;
    border-radius: 20px;
    background-color: aqua;
    
    right: 30px;
    
}

table{
    position: relative:
    right: 30px;
    color: blue;


    
}
